
#a
{
  background-color:white;
}

.content
{
  color: #594F4F  ;
  background-color:white;
  border-radius:15-px;
  padding:15px;
  width: 50%;
  float:left;
}

.sidebar
{
  color:white;
  background-color: #597368	;
  border-radius:10px;
  padding: 5px;
  width: 30%;
  height:20%;
  float: right;
}
#t
{
  font-style: bold;
}
#date
{
  font-style: italic;
}
