<!DOCTYPE html>

{%extends 'app\base.html'%}
{%block content_block%}
<div class="container">
  <img src="https://www.flaticon.com/svg/static/icons/svg/2972/2972052.svg" width="90" height="90" alt="" >
  <p><br>
    <h3>
      EDUTECH
    </h3><br>
<h5>Online education is a form of education where students use their home computers through the internet. For many nontraditional students, among them all those who want to continue working full time or raising families, online graduations and courses have become popular in the past decade.

  <br><br>Our site EDUTECH contains the following functionalities.
<br><br><br>1 Only Limited Trusted Educators Post various important Topics on our site.
<br><br>2 Follow tags and find similar topics.
<br><br>3 Ask your queries on a particular topic.
<br><br>4 Share an informative topic with others via mail.
<br><br>5 See what are the trending topics on site.</p>
</div></h5>
</div>
{%endblock%}
