{% extends "app\base.html" %}
{% load bootstrap4 %}
{% block head_block %}
<body onload="disableSubmit()">
  {%if registered%}
  <h1 align=center>Thanks for registering</h1>
  {%else%}
  <form method="POST" class="form-group container">
    {% csrf_token %}
    {% bootstrap_form user_form%}
    <p><input type="checkbox" required name="terms"> I accept the <u><a href="/terms">Terms and Conditions</a></u></p>
    <br><br>
    {% buttons %}
    <button type="submit" class="btn btn-primary">Sign Up</button>
    {% endbuttons %}
  </form>
  {%endif%}
</body>
{% endblock %}
